.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #A8D0E6;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  font-family: serif, "American Typewriter";
  /* font-family: serif, "Palatino, URW Palladio L"; */
  font-family: "sans-serif", Nunito;
  font-variant: small-caps;
  color: white;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* .jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
} */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

img {
  position: relative;
  height: 225;
  width: auto;
  object-fit: cover;
  overflow: hidden;

}

.wrapper {
  overflow-y:scroll;  
}

.bg-dark{
  background-color: #24305e!important;
}

.btn-primary{
  background-color: #f8e9a1;
  border-color: #f8e9a1;
  color: #24305e;
}